# Бэкапы
*.bak
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.orig

# Python
__pycache__/
*.pyc
ugv-env/

# Временные файлы
/tmp/
*.log

# Результаты тестов
output_yolov5.png

# Бэкапы
*.bak8
*.bak9
*.bak10
*.bak11

# Медиа (фото/видео)
templates/pictures/
templates/videos/
